/* ============ Start Login Pages Style =========== */
.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    padding: 64px 16px;
}

.login__logo {
    margin-bottom: 64px;
}

.login__content {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    min-height: calc(100vh - 257px);
    /* padding-bottom: 96px; */
    z-index: 2;
}

.login__content-title {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;
}

.login__content-text {
    font-size: 12px;
    line-height: 15px;
    opacity: 0.5;
    margin-top: 4px;
}

.login__card {
    text-align: left;
    margin-top: 24px;
}

.login__card-body {
    width: 364px;
    padding: 32px;
    padding-bottom: 24px;
}

.login__card-error {
    background: rgba(192, 38, 103, 0.5);
    border: 1px solid var(--primary-red);
    border-radius: 4px;
    padding: 9px 16px;
}

.login__form {
    margin-top: 24px;
}

.login__form-row {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
}

.login__form-row label {
    font-size: 13px;
    line-height: 16px;
}

.login__form-row input {
    background-color: var(--primary-dark);
    border-radius: 4px;
    color: var(--white);
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
    margin-top: 8px;
    padding: 10px 16px 10px 42px;
    transition: all .3s ease;
}

.login__form-row input::placeholder {
    color: var(--gray);
}

.login__form-row input:hover {
    background-color: var(--dark-200);
}

.login__form-row input:focus {
    background: var(--dark-200);
    font-weight: 500;
}

.login__form-checkbox {
    margin-bottom: 8px;
}

.login__form-checkbox a {
    font-size: 13px;
    font-weight: 500;
    line-height: 15px;
}

.login__form-forgot {
    font-size: 12px;
    color: var(--cyan);
    line-height: 15px;
}

.login__form-forgot:hover {
    color: var(--primary-blue-100);
}

.login__form-icon {
    position: absolute;
    bottom: 10px;
    left: 16px;
    max-width: 16px;
    height: 16px;
}

.login__form-btn {
    display: flex;
    justify-content: center;
    border-radius: 4px;
    width: 100%;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 13px;
    color: var(--white);
    line-height: 16px;
    padding: 10px 16px;
    margin-top: 36px;
}

.login__card-via {
    text-align: center;
    color: var(--gray);
    font-size: 12px;
    font-weight: 400;
    line-height: 15px;
    margin: 16px 0;
}

.login__card-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    text-transform: uppercase;
    height: 36px;
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
    margin-bottom: 8px;
}

.login__card-btn img {
    margin-right: 9px;
}

.login__account {
    margin-top: 24px;
}

.login__account-link {
    text-align: center;
    color: var(--cyan);
    font-size: 13px;
    line-height: 16px;
}

.login__account-link:hover {
    color: var(--primary-blue-100);
}

@media only screen and (max-width: 575.98px) {
    .login {
        padding: 24px 16px;
    }

    .login__logo {
        margin-bottom: 34px;
    }

    .login__content {
        min-height: calc(100vh - 109px);
        padding-bottom: 42px;
    }

    .login__card-body {
        width: 342px;
        padding: 24px;
        padding-bottom: 16px;
    }
}
/* ============ End Login Pages Style =========== */